<h1>Hello, <%= name %>!</h1>
<p>Your password has been reset. Here is your new password:</p>
<ul>
    <li>New Password: <%= newPassword %></li>
</ul>
<p>Please change your password after logging in.</p>