<h1>Welcome, <%= name %>!</h1>
<p>Your account has been created successfully. Here are your details:</p>
<ul>
    <li>Email: <%= email %></li>
    <li>Password: <%= password %></li>
</ul>
<p>Please change your password once you log in.</p>